<!DOCTYPE html>
<html autocomplete="off">
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 基本表单</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: dimgray">


<div class="modal-dialog" style="margin-top: 10%;">

    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="myModalLabel">登录</h3>
        </div>
        <div class="modal-body">
        <form action="/accounts/login/" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ forms.as_p }}
            <input type="submit">
        </form>
        </div>
    </div>
</div>





</body>
</html>