{% extends "head.html" %}
{% block content %}

<div>
<div class="modal-dialog" style="margin-top: 10%;">

    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="myModalLabel">重置密码</h3>
        </div>
        <div class="modal-body">
        <form action="/accounts/login/" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ forms.as_p }}
            <input type="submit">
        </form>
        </div>
    </div>
</div>

</div>
{% endblock %}