{% extends "default/head.html" %}

{% block cssmenu %}
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/top.css" rel="stylesheet">
    <link href="/static/css/left.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/right.css" rel="stylesheet">
{% endblock %}

{% block topmenu %}
<!-- Header -->
<div class="top">
    <div>
        <div class="tl">
{#            <img class="img" src="/static/images/logo.png">#}
            <img class="img" src="/static/images/favicon.ico">
            <a>百昌运维平台</a>
        </div>
        <div>
            <a class="switch"></a>
        </div>
        <div class="tr">
        {% if user.username %}
            <a> 用户：{{user.username}} | </a>
           <a href="/accounts/logout/">EXIT</a>
        {% else %}
            <a href="/accounts/login/">未登陆状态</a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}



<!-- left -->
    {% block left %}
        <div id="sidebar" class="sidebar sm">
            <!-- Search Box -->
            <nav id="search">
                <div>
                    <img class="img" src="/static/images/logo.png">

                </div>
    {#                            <span>百昌科技</span>#}
            </nav>
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="#">工作台</a></li>
                <li><a href="#">主机管理</a></li>
                <li>
                  <u><span class="opener" href="#">批量执行</span></u>
                  <ul class="disconfnone">
                    <li><a href="#">应用管理</a></li>
                    <li><a href="#">发布申请</a></li>
                  </ul>
                </li>
                <li>
                  <u><span class="opener" href="#">应用发布</span></u>
                  <ul class="disconfnone">
                    <li><a href="#">应用管理</a></li>
                    <li><a href="#">发布申请</a></li>
                  </ul>
                </li>
                <li><a href="#">任务计划</a></li>
                <li>
                  <u><span class="opener" href="#">配置中心</span></u>
                  <ul class="disconfnone">
                    <li><a href="#">环境配置</a></li>
                    <li><a href="#">服务配置</a></li>
                    <li><a href="#">应用配置</a></li>
                  </ul>
                </li>
                <li><a href="#">监控中心</a></li>
                <li>
                  <u><span class="opener" href="#">报警中心</span></u>
                  <ul class="disconfnone">
                    <li><a href="#">报警历史</a></li>
                    <li><a href="#">报警联系人</a></li>
                    <li><a href="#">报警联系组</a></li>
                  </ul>
                </li>
                <li>
                  <u><span class="opener" href="#">系统管理</span></u>
                  <ul class="disconfnone">
                    <li><a href="#">账户管理</a></li>
                    <li><a href="#">角色管理</a></li>
                    <li><a href="#">系统设置</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
        </div>
    {% endblock %}

<!-- main -->
    {% block main %}
        <div class="main">

            <h1>main</h1>
        </div>
    {% endblock %}

<!-- right -->
{#    {% block right %}#}
{#        <div class="right">#}
{#            <div>#}
{#                <h1>main right</h1>#}
{#            </div>#}
{#        </div>#}
{#    {% endblock %}#}




{% block jsmenu %}
    <script src="/static/js/main.js"></script>
{% endblock %}