.main-banner {
    text-align: center;
}


/* Banner */
.main-banner .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.main-banner .banner-content {
	background-image: url(/static/images/main-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.main-banner .banner-content .banner-caption {
    max-width: 450px;
	background-color: rgba(250,250,250,0.95);
	margin: 50px auto;
	padding: 50px;
}

.main-banner .banner-content .banner-caption h4 {
	font-size: 38px;
	font-weight: 700;
	color: #31323a;
	letter-spacing: 0.25px;
	margin: 0px;
}

.main-banner .banner-content .banner-caption em {
	font-style: normal;
	color: #535ba0;
}

.main-banner .banner-content .banner-caption span {
	font-size: 15px;
	color: #aaaaaa;
	letter-spacing: 0.5px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-banner .banner-content .banner-caption p {
	margin-bottom: 30px;
}