{% extends "default/leftmenu.html" %}

{% block main %}
<div class="main">


    <div class="ml-0">
        <!-- Banner -->

        <div class="title">
            <div class="ant-title">
                <span>应用</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
        <div class="title">
            <div class="ant-title">
                <span>主机</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
        <div class="title">
            <div class="ant-title">
                <span>任务</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
        <div class="title">
            <div class="ant-title">
                <span>监控</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>

  </div>
    <div class="ml-1">
        <div class="title">
            <div class="ant-title">
                <span>报警趋势</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
    </div>
    <div class="ml-2">
        <div class="title">
            <div class="ant-title">
                <span>发布申请</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
        <div class="title">
            <div class="ant-title">
                <span>最近30天登陆</span>
            </div>
            <div class="ant-content">
                <a>content</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}