{% extends "default/head.html" %}

{% block cssmenu %}
    <link href="/static/css/main.css" rel="stylesheet">

{% endblock %}

{% block contentmenu %}
<!-- Header -->
<div class="top">
    <div>
        <div class="tl">
            <img class="img" src="/static/images/logo.png">
            <a>百昌运维平台</a>
        </div>
        <div class="tr">
        {% if user.username %}
           <a href="/accounts/logout/"> 用户：{{user.username}} | exit</a>
        {% else %}
            <a href="/accounts/login/">未登陆状态</a>
        {% endif %}
        </div>
    </div>
</div>

<!-- leftmenu -->
    <div class="content">
              <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Search Box -->
                    <ul id="search">
                            <u>
                                <a style="color: #9fcdff;display: inline;margin: 0 auto;">百昌运维</a>
                            </u>
                    </ul>
                </div>
          <!-- Main -->
        <div class="main">
                <a href="#" class="toggle">Toggle</a>
                <a>主体内容</a>
        </div>
    </div>

{% endblock %}

{% block jsmenu %}
    <script src="/static/js/test.js"></script>
{% endblock %}